.trybeTunesh1 {
  background-color: rgb(109, 179, 109);
}
.trybeTunes {
text-align: center  ;
padding: 20px;
margin: 100px;
flex-wrap: wrap;
background-color: rgb(153, 224, 94);
font-size: 2rem;
}
.inputButton {
  margin: 50px;
  padding: 5px;
  width: 10%;
}
.Button {
  width: 5%;
  outline: none;
}