.trybeTunesh1 {
  background-color: rgb(109, 179, 109);
  padding: 20px;
}
.trybeTunes {
text-align: center  ;
height: 100vh;
padding: 15px;
background-color: rgb(153, 224, 94);
font-size: 2rem;
flex-direction: column;

}
.inputButton {
  margin: 50px;
  padding: 5px;
  width: 10%;
}
.Button {
  width: 5%;
  outline: none;
}